/* ============================================= */
/*                  Colors                       */
/* ============================================= */

//Global Colors
$color-primary: #58e1c1;
$color-secondary: #777;

//Button Colors
$button-colors: ("default":#51ddfc,
    "success": #63cc82,
    "error": #e4757a,
    "warning": #fd7856,
    "info": #927bc1,);

//Grid Colors
$grid-colors:("col-1": map-get($button-colors, "info"),
    "col-2": map-get($button-colors, "warning"),
    "col-3": #deb2ee,
    "col-4": lighten(map-get($button-colors, "default"), 10%),
    "col-5": lighten(map-get($button-colors, "info"), 10%),
    "col-6": #4da2bb,
    "col-7": lighten(map-get($button-colors, "error"), 10%),
    "col-8": lighten(map-get($button-colors, "warning"), 10%),
    "col-9": map-get($button-colors, "error"),
    "col-10": map-get($button-colors, "success"),
    "col-11": map-get($button-colors, "default"),
    "col-12": #80e8d1,
);


/* ============================================= */
/*                     Font                      */
/* ============================================= */

//Primary font-family
$font-primary: 'Lato',
sans-serif;

/* ============================================= */
/*               Media Queries                   */
/* ============================================= */

//Breakpoint for Large devices
$break-lg: 768px;